<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="scripts.js"></script>
    </head>

    <body>
        <header>

        </header>
        <main>

            <table id="information">
                <thead id = "info-thead">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id = "info-tbody">
                    
                </tbody>
            </table>

        </main>

    </body>



</html>