<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        <!-- <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <script src="../static/scripts.js"></script> -->
    </head>

    <body>
        <header>

        </header>
        <div id="data-div">
            <select name="table" id="table-select" onchange="updateTable()" placeholder="Prices">
                <option value="Prices">Prices</option>
                <option value="Designs">Designs</option>
                <option value="Creators">Creators</option>
                <option value="Characters">Characters</option>
                <option value="Places">Places</option>
                <option value="Vehicles">Vehicles</option>
                <option value="Products">Products</option>
            </select>
            <table id="information">
                <thead id = "info-thead">

                </thead>
                <tbody id = "info-tbody">
                   
                </tbody>
            </table>
        </div>
        <main>
            <select name="crud" id="operation-select" onchange="changeOperation()">
                <option value="insertValues">Insert Row</option>
                <option value="deleteValues">Delete Row</option>
                <option value="updateValues">Update Row</option>
                <option value="readValues">Search Table</option>
            </select>
            <form action="/insert" method="POST" id="insertValues">
                <input type="hidden" id="form_name" name="form_name" value="Prices">
                <!-- Text Input Fields -->
                <label for="input1">Form:</label><br>
                <input type="text" id="input1" name="input1"><br><br>

                <label for="input2">Material:</label><br>
                <input type="text" id="input2" name="input2"><br><br>

                <label for="input3">Price:</label><br>
                <input type="text" id="input3" name="input3"><br><br>

                <label for="input4">Size:</label><br>
                <input type="text" id="input4" name="input4"><br><br>

                <label for="input5">Combination_Id:</label><br>
                <input type="text" id="input5" name="input5"><br><br>                

                <!-- Submit Button -->
                <button type="submit" id="insert-submit">Insert Row</button>
            </form>
            
            <form class="hidden" action="/delete" method="POST" id="deleteValues">
                <input type="hidden" id="form_name" value="Prices">
                <!-- Text Input Fields -->
                <label for="delete1">Form</label><br>
                <input type="text" id="delete1" name="delete1"><br><br>

                <label for="delete2">Material</label><br>
                <input type="text" id="delete2" name="delete2"><br><br>

                <label for="delete3">Price</label><br>
                <input type="text" id="delete3" name="delete3"><br><br>

                <label for="delete4">Size</label><br>
                <input type="text" id="delete4" name="delete4"><br><br>

                <label for="delete5">Combination_Id</label><br>
                <input type="text" id="delete5" name="delete5"><br><br> 

                <!-- Submit Button -->
                <button type="submit" id="delete-submit">Delete Row(s)</button>
            </form>


            <form class="hidden" action="/update" method="POST" id="updateValues" name="prices">
                <input type="hidden" id="form_name" value="Prices">
                <!-- Text Input Fields -->
                <label for="field-select">Update Field:</label><br>
                <select name="field-select" id="field-select">
                    <option value="form">Form</option>
                    <option value="material">Material</option>
                    <option value="price">Price</option>
                    <option value="size">Size</option>
                    <option value="combination_id">Combination_Id</option>
                </select>

                <label for="update1">With Value:</label><br>
                <input type="text" id="update1" name="update1"><br><br>

                <label for="update1">Row:</label><br>
                <input type="text" id="update2" name="update2"><br><br>

                <!-- Submit Button -->
                <button type="submit" id="update-submit">Update Column</button>
            </form>

                <!-- Read -->
                <!-- Text Input Fields -->
            <div class="hidden" id="readValues">
                <input type="hidden" id="form_name" value="Prices">
                <label for="read">Read Row with ID:</label><br>
                <input type="text" id="read" name="read"><br><br>              

                <!-- Submit Button -->
                <button onclick="updateTableWithQuery()" id="read-submit">Submit</button>
            </div>

        </main>

    </body>

 

</html>